body {
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
}

img {
    width: 300px;
    height: 300px;
    margin: .5em;
}

.anmlBTN {
    color: #ffffff;
    background-color: #20B2AA;
    border-color: #20B2AA;
    width: 6.5em;
    margin: .1em;
}

.form-control {
    width: 50%;
}

