<form method="POST" action="/students/create">
    <label for="FirstName">First Name:</label><input type="text" name="FirstName"><br>
    <label for="LastName">Last Name:</label><input type="text" name="LastName"><br>
    <label for="DOB">Date of birth:</label><input type="date" name="DOB"><br>
    <button type="submit">Create</button>    
</form>